<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nz.co.codebros.quakesnz">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".QuakesNZApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/maps_api_key" />

        <activity
            android:name="nz.co.codebros.quakesnz.ui.FeatureListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.FeatureDetailActivity"
            android:label="@string/quake_details"
            android:parentActivityName=".ui.FeatureListActivity">
            <tools:validation testUrl="http://www.geonet.org.nz/earthquake/2018p154140" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.codebros.quakesnz.ui.FeatureListActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.geonet.org.nz"
                    android:pathPattern="/earthquake/..*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.geonet.org.nz"
                    android:pathPattern="/earthquake/..*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".about.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".ui.FeatureListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.codebros.quakesnz.ui.FeatureListActivity" />
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".ui.FeatureListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.codebros.quakesnz.ui.FeatureListActivity" />
        </activity>
    </application>

</manifest>